COMPOSE_PROJECT_NAME=abelo
HTTP_PORT=8080
LOCAL_UID=1000
LOCAL_GID=1000
MYSQL_STORAGE_PATH=../abelo-storage/mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=blog
DB_USERNAME=blog
DB_PASSWORD=change-me-local-blog-password
DB_ROOT_PASSWORD=change-me-local-root-password
